{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "describe": false,
    "fdescribe": false,
    "beforeAll": false,
    "beforeEach": false,
    "afterAll": false,
    "afterEach": false,
    "it": false,
    "fit": false,
    "expect": false
  },
  "extends": "eslint:recommended"
}